Source: thefuck
Priority: optional
Section: utils
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Adrian Bunk <bunk@debian.org>,
           Pablo Santiago Blum de Aguiar <scorphus@gmail.com>,
           Sandro Tosi <morph@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3,
 python3-mock,
 python3-pyte,
 python3-pytest-mock,
 python3-pytest,
 python3-setuptools,
Standards-Version: 4.5.1
Homepage: https://github.com/nvbn/thefuck
Vcs-Git: https://salsa.debian.org/debian/thefuck.git
Vcs-Browser: https://salsa.debian.org/debian/thefuck

Package: thefuck
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 python3-colorama,
 python3-decorator,
 python3-pkg-resources,
 python3-psutil,
 python3-six,
Description: spelling corrector of console commands
 The Fuck attempts to fix user's command line mistakes, by
 composing new commands applying a series of matching rules.
 It supports various shells, such as bash, fish, tcsh, and
 zsh.
 .
 The 'sudo' matching rule has been disabled for users' safety.
